.footer {
  background-color: $clr-black;
  color: $clr-white;
  width: 100vw;
  height: 539px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 3rem 0;

  .socials {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 2rem;

    > * {
      padding: 2px;

      &:hover {
        transform: scale(1.25);
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;

    > * {
      margin: 7px 0;
      @include link-solid();
    }
  }

  .invite {
    @include link-arrow(true);
  }

  .copyright {
    color: $clr-dark-grey;
  }

  .footer-2 {
    p {
      margin-top: 2rem;
    }
  }
}
