.highlight-container {
  max-width: 1440px;
  margin: 0 auto;

  .highlight {
    display: flex;
    flex-direction: column;

    @include media('>=tablet') {
      flex-direction: row-reverse;

      &.row-reverse {
        flex-direction: row;
      }
    }

    .hero {
      width: clamp(1px, 1440px, 100vw);
      height: calc(0.784 * clamp(1px, 1440px, 100vw));
      // height: 294px;
      // z-index: -2;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      @include highlight-images();

      @include media('>=tablet') {
        max-width: 35.5%;
        height: 600px;
      }

      @include media('>=desktop') {
        max-width: 57.5%;
      }
    }

    .article {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 4rem 0;
      color: $clr-white;

      > *:not(.article__accent):not(.article__link) {
        margin-bottom: 1.5rem;
      }

      &.bg-white {
        color: $clr-black;
        background-color: $clr-white;

        .article__body {
          color: $clr-dark-grey;
        }
      }

      &__title {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 3.33px;
      }

      &__body {
        color: $clr-dark-grey;
      }

      &__link {
        @include link-arrow();
      }

      &__accent {
        position: absolute;
        top: 0;
        height: 6px;
        width: 125px;
        background: linear-gradient(
          to top right,
          $clr-accent1 10%,
          $clr-accent2 50%,
          $clr-accent3 100%
        );

        @include media('>=tablet') {
          top: 215px;
          left: 0;
          width: 6px;
          height: 304px;
        }

        @include media('>=desktop') {
          top: 150px;
          left: -165px;
        }
      }

      @include media('>=tablet') {
        position: initial;
        height: 600px;
        max-width: 64.5%;
        justify-content: center;
        padding: 0;
      }

      @include media('>=desktop') {
        position: relative;
      }
    }
  }
}
