.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;

  &__menu-btn {
    user-select: none;
    position: relative;

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      transition: $transition-dropdown;
      padding: 10px 5px;

      &.hidden {
        opacity: 0;
      }
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__links {
    display: none;

    @media (min-width: $tablet) {
      display: inline;
      font-weight: bold;

      a {
        padding: 0 8px;
        transition: $transition-btn;

        &:hover {
          color: $clr-dark-grey;
        }
      }
    }
  }

  .btn {
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
      padding: 12px 25px;
      font-size: 12px;
      transition: $transition-btn;

      &:hover {
        background-color: $clr-dark-grey;
        color: $clr-black;
      }
    }
  }
}
