.container.nav-container {
  position: relative;
  box-shadow: $box-shadow;
  background-color: $clr-white;

  .nav {
    @include flex(row, space-between, center);
    position: relative;
    height: 72px;
    max-width: 80%;
    background-color: $clr-white;
    margin: 0 auto;


    .menu-btn {
      user-select: none;
      position: relative;

      img {
        position: absolute;
        transform: translate(-50%, -50%);
        transition: $transition-slow;
        padding: 10px 5px;

        &.hidden {
          opacity: 0;
        }
      }
    }

    .links {
      display: none;
    }

    .btn {
      display: none;
    }

    // * TABLET
    @include media('>=tablet') {
      max-width: 90%;

      .menu-btn {
        display: none;
      }

      .links {
        display: inline;
        font-weight: bold;

        a {
          padding: 0 8px;
          color: $clr-black;
          text-transform: uppercase;
          letter-spacing: 2px;
          transition: opacity $transition-fast;

          &:hover {
            opacity: 0.4;
          }
        }
      }

      .btn {
        display: inline-block;
        padding: 12px 25px;
        font-size: 12px;
        transition: color $transition-medium,
          background-color $transition-medium;

        &:hover {
          background-color: $clr-dark-grey;
          color: $clr-black;
        }
      }
    }

    // * DESKTOP
    @include media('>=desktop') {
      max-width: 75%;
    }
  }
}
