.services-container {
  box-shadow: $box-shadow;
}

.services {
  @include flex(column, center, center);
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
  background-color: $clr-white;

  .services__item {
    width: 80%;
    margin: 0 auto;
  }

  .services__heading {
    padding: 1.5rem 0 1rem;
  }

  .services__body {
    color: $clr-black-transparent;
  }
}
