.services {
  @include flex(column, center, center);
  max-width: 1440px;
  text-align: center;
  padding: 3rem 0;
  column-gap: 30px;
  background-color: $clr-white;
  box-shadow: $box-shadow;

  &__item {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;

    @include media('>=desktop') {
      width: 350px;
    }
  }

  &__heading {
    padding: 2rem 0 1rem;
  }

  &__body {
    color: $clr-black-transparent;
  }

  @include media('>=desktop') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5.5rem 0;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 220px;
      padding: 0;

      &:nth-of-type(2) img {
        padding-bottom: 20px;
      }
    }
  }
}
