.hero.hero-features-page {
  background-image: url('../../../dist/assets/features/desktop/hero.jpg');

  @include media('>=tablet') {
    background-image: url('../../../dist/assets/features/tablet/hero.jpg');
  }
  @include media('>=desktop') {
    background-image: url('../../../dist/assets/features/desktop/hero.jpg');
  }
}

.services.features-page {

  @include media('>=tablet') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    justify-items: end;
    row-gap: 5.5rem;
    column-gap: 40px;
    padding: 6rem 60px;
  }

  @include media('>=desktop-lg') {
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem 5rem;
    row-gap: 7rem;
    column-gap: 60px;
  }

  .services__item {
    width: clamp(1px, 80%, 490px);

    @include media('>=phone', '<tablet') {
      &:not(:last-child) {
        padding-bottom: 4rem;
      }
    }

    @include media('>=tablet') {
      @include flex(column, flex-end, center);
      width: 325px;

      // padding-bottom: 55px;

      &:nth-of-type(2) img {
        padding-bottom: 15px;
      }
    }
  }
}
