.hero.hero-features-page {
  background-image: url('../../../dist/assets/features/desktop/hero.jpg');

  @include media('>=tablet') {
    background-image: url('../../../dist/assets/features/tablet/hero.jpg');
  }
  @include media('>=desktop') {
    background-image: url('../../../dist/assets/features/desktop/hero.jpg');
  }
}

.services-container {
  .services.features-page {
    margin: 0 auto;

    @include media('>=tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: end;
      justify-items: end;
      row-gap: 4.5rem;
      padding: 7rem 0;

      .services__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 220px;

        &:nth-of-type(2) img {
          padding-bottom: 20px;
        }
      }
    }

    @include media('>=desktop-lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
