.highlight-story {
  .hero {
    background-image: url('../../../dist/assets/stories/desktop/moon-of-appalacia.jpg');

    @include media('>=tablet') {
      background-image: url('../../../dist/assets/stories/tablet/moon-of-appalacia.jpg');
    }
    @include media('>=desktop') {
      background-image: url('../../../dist/assets/stories/desktop/moon-of-appalacia.jpg');
    }
  }

  .article {
    &__pre-headline {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: 15.62px;
      letter-spacing: 2px;
    }

    &__details {
      font-size: 13px;
      line-height: 16.93px;
      &__date {
        opacity: 0.75;
      }

      &__author {
        padding-left: 9px;
      }
    }
  }
}

.story {
  @include story-images-page;
}
