.container.beta-container {
  position: relative;
  height: 288px;
  color: $clr-white;
  box-shadow: $box-shadow;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../dist/assets/shared/mobile/bg-beta.jpg');

    @include media('>=tablet') {
      background-image: url('../../../dist/assets/shared/tablet/bg-beta.jpg');
    }

    @include media('>=desktop') {
      background-image: url('../../../dist/assets/shared/desktop/bg-beta.jpg');
    }
  }

  .beta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-left: 2rem;
    max-width: clamp(1px, 90vw, 1296px);

    @include media('>=tablet') {
      width: 92%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding-left: 0;
    }

    h1 {
      max-width: 360px;

      @include media('>=tablet') {
        font-size: 40px;
      }
    }

    h1 {
      font-size: 32px;
      line-height: 40px;
    }

    a {
      @include link(arrow);
      margin-top: 24px;
    }
  }

  .accent {
    position: absolute;
    background: $gradient;
    width: 128px;
    margin-left: 2rem;
    height: 6px;
    top: 0;

    @include media('>=tablet') {
      left: 0;
      height: 100%;
      width: 6px;
      margin-left: 0;
    }
  }
}
