.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $clr-black;

  &-invite {
    display: inline-block;
    overflow: hidden;
    padding: 20px;
  }
}

a.btn {
  color: $clr-white;
}
