.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $clr-black;
}

a.btn {
  color: $clr-white;
}
