.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  background-color: $clr-black;
  width: 80%;
  display: block;
  margin: 0 auto;

  // font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
}

a.btn {
  color: $clr-white;
}
