.container {
  max-width: 1440px;
  height: 100%;
  // margin: 0 auto;

  > * {
    max-width: $max-width;
    margin: 0 auto;
  }

  &.bg-black {
    background-color: $clr-black;
  }

  &.bg-white {
    background-color: $clr-white;
  }

  @include media('>=desktop') {
    margin: 0 auto;
  }
}
