.mobile__nav {
  background-color: $clr-white;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: max-height $transition-slow-2;
  position: relative;

  .mobile__links {
    @include flex(column, flex-start, center);
    padding: 1.5rem 0 1rem;
    margin: 0 auto;
    max-width: 80%;
    border-bottom: 1px solid $clr-white;
    transform: translateY(-75px);
    transition: transform $transition-slow-2, border-bottom $transition-slow-2;

    a {
      @include link(solid);
      color: $clr-black;
      height: 0;
      overflow: hidden;
      font-size: 15px;
      letter-spacing: 2.5px;
      transition: height $transition-slow-2, color $transition-fast;
    }
  }

  .btn-invite {
    @include btn-black();
    width: 80%;
    margin: 1rem;
    transition: color $transition-medium, background-color $transition-medium,
      max-height $transition-slow-2, transform $transition-slow-2,
      opacity $transition-slow-2;

    max-height: 0;
    transform: translateY(-100px);
    opacity: 0;
  }

  // Active state
  &.show {
    max-height: 260px;

    .mobile__links {
      border-bottom: 1px solid $clr-dark-grey;
      transform: translateY(0);

      a {
        height: 40px;
      }
    }

    .btn-invite {
      max-height: 100px;
      transform: translateY(0);
      opacity: 1;
    }

    @include media('>=tablet') {
      display: none;
    }
  }
}
