.mobile__menu {
  background-color: $clr-white;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  transition: $transition-dropdown;

  .mobile__links {
    @include flex(column, flex-start, center);
    padding: 1.5rem 0 1rem;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid $clr-white;
    transform: translateY(-75px);
    transition: $transition-dropdown;

    a {
      @include link-solid();
      font-size: 15px;
      letter-spacing: 2.5px;
      height: 0;
      overflow: hidden;
      transition: $transition-dropdown;
    }
  }

  .btn {
    display: inline-block;
    width: 80%;
    margin: 1rem;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    letter-spacing: 2.5px;
    transition: $transition-dropdown;

    background-color: transparent;
    max-height: 0;
    transform: translateY(-100px);
  }

  &.show {
    max-height: calc(0.666 * clamp(1px, 1440px, 100vw));
    // max-height: 253px;

    .mobile__links {
      border-bottom: 1px solid $clr-dark-grey;
      transform: translateY(0);

      a {
        height: 40px;
      }
    }

    .btn {
      @include btn-fill(black);
      max-height: 100px;
      transform: translateY(0);
    }

    @include media('>=tablet') {
      display: none;
    }
  }
}
