.mobile__nav {
  background-color: $clr-white;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: max-height $transition-slow;

  .mobile__links {
    @include flex(column, flex-start, center);
    padding: 1.5rem 0 1rem;
    margin: 0 auto;
    max-width: 80%;
    border-bottom: 1px solid $clr-white;
    transform: translateY(-75px);
    transition: transform $transition-slow, border-bottom $transition-slow;

    a {
      @include link(solid);
      height: 0;
      overflow: hidden;
      font-size: 15px;
      letter-spacing: 2.5px;
      transition: height $transition-slow, color $transition-fast;
    }
  }

  .btn-invite {
    width: 80%;
    margin: 1rem;
    transition: color $transition-fast, background-color $transition-fast,
      background-color $transition-slow, max-height $transition-slow,
      transform $transition-slow;

    background-color: transparent;
    max-height: 0;
    transform: translateY(-100px);
  }

  // Active state
  &.show {
    max-height: calc(0.666 * clamp(1px, 1440px, 100vw));

    .mobile__links {
      border-bottom: 1px solid $clr-dark-grey;
      transform: translateY(0);

      a {
        height: 40px;
      }
    }

    .btn-invite {
      @include btn-black();
      max-height: 100px;
      transform: translateY(0);
    }

    @include media('>=tablet') {
      display: none;
    }
  }
}
