@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin link($type) {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;

  @if $type == solid {
    transition: $transition-fast;
    &:hover {
      color: $clr-dark-grey;
    }
  } @else if $type == arrow {
    svg {
      transition: $transition-fast;
      margin-left: 10px;
    }

    &:hover {
      text-decoration: underline;
      svg {
        transform: translateX(10px);
      }
    }
  }
}

@mixin btn-black() {
  background-color: $clr-black;
  color: $clr-white;

  &:hover {
    background-color: $clr-dark-grey;
    color: $clr-black;
  }
}

// Story Images
$story-images: (
  1: 'mountains',
  2: 'cityscapes',
  3: '18-days-voyage',
  4: 'architecturals',
);

@mixin story-images() {
  @each $num, $name in $story-images {
    &.story-#{$num}::before {
      background-image: url('../../../dist/assets/stories/desktop/#{$name}.jpg');

      // @include media('>=desktop') {
      //   background-image: url('../../../dist/assets/stories/desktop/#{$name}.jpg');
      // }
    }
  }
}

// Highlight images
$highlight-images: (
  1: 'create-and-share',
  2: 'beautiful-stories',
  3: 'designed-for-everyone',
);

@mixin highlight-images() {
  @each $num, $name in $highlight-images {
    &.img-#{$num} {
      background-image: url('../../../dist/assets/home/desktop/#{$name}.jpg');

      @include media('>=tablet') {
        background-image: url('../../../dist/assets/home/tablet/#{$name}.jpg');
      }
      @include media('>=desktop') {
        background-image: url('../../../dist/assets/home/desktop/#{$name}.jpg');
      }
    }
  }
}
