@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin link-arrow() {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;

  svg {
    transition: $transition-btn;
    margin-left: 10px;
  }

  &:hover {
    text-decoration: underline;
    svg {
      transform: translateX(10px);
    }
  }
}

@mixin link-solid() {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
  transition: $transition-btn;

  &:hover {
    color: $clr-dark-grey;
  }
}

@mixin btn-fill($bg-color: black) {
  background-color: $clr-black;
  color: $clr-white;

  @if $bg-color == white {
    background-color: $clr-white;
    color: $clr-black;
  }

  &:hover {
    background-color: $clr-dark-grey;
    color: $clr-black;
  }
}
